::ng-deep .calendar {
    float:none !important;
    display: inline-block !important;
    max-width: 320px !important;
}
.modal-content {
    width:670px;
    position: fixed;
}
.modal-content.single{
    width:330px;
}
::ng-deep .md-drppicker {
    box-shadow:none !important;
    z-index: 500 !important;
}

::ng-deep .md-drppicker th {
    color: #27282b !important; 
    font-size: 14.4px !important; 
    font-weight: 500 !important; 
}

::ng-deep th.month
{
    font-size: 1.1rem !important; 
    font-weight: 500 !important; 
}

::ng-deep .md-drppicker td.active{

    background-color: #CC092F !important;
}

::ng-deep .calendar td {
    padding: 0.75rem !important;
}

::ng-deep .modal-footer {

    border-top: none !important;
    padding-top: 0% !important;
}

::ng-deep .modal-body{

    padding-bottom: 0% !important;
}

.bex-calendar-header-day {
    background-color: #ffffff;
    padding: 0.625rem;
    font-weight: 800;
    font-size: 18pt;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    color: #CC092F;
    padding-top:  15px;
    padding-bottom:  15px;
}
.bex-calendar-header-date {
   background-color: #ffffff;
   text-align: center;
   font-family: 'Roboto', sans-serif;
   font-size: 24pt;
   font-weight: 300;
   color: #27282B;
   padding-top:  1.5rem;
   padding-bottom:  1.5rem;
   border-top: 1px solid #E4E8E9;
   border-bottom: 1px solid #E4E8E9;
}

::ng-deep .md-drppicker th.available:hover, ::ng-deep  .md-drppicker td.end-date, ::ng-deep  .md-drppicker td.active, ::ng-deep  td.available:hover, ::ng-deep .md-drppicker td {
    border-radius: 0% !important;

}

.modal-error {
    padding-left:30px;
    color: red;
}
