@import '../../styles/bex-custom-variables.scss';

.footer-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    line-height: $footer-height;
  }
  
:host {
    text-align: center;
    z-index: 1;
}